
.container-update input[type="text"]{
    width:calc(100%-22px);
    padding:15px;
    margin-bottom: 5px;
    border:1px solid #ddd;
    border-radius: 4px;
}
.container-update button{
    background-color: #007bff;
    color:white;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    font-size: 20px;
    padding-top:  8px ;
    padding-bottom: 10px;
} 
.container-update button:hover{
    background-color:green;
}
.container-update{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 8px;
    max-width:400px;
    margin:10px auto;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.container-update h1{
    color:#333;
    text-align: center;
}
.container-update hr{
    border:none;
    border-top: 1px solid black;
    margin:20px 0;
}
@media (max-width: 768px) {
            .container-update {
                padding: 5px;
                width: 90%;
            }
            input[type="text"], button {
                width: 100%;
                margin-bottom: 5px;
    }
}
